@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap");

:root {
  --white: #ffffff;
  --red: #ff0000;
  --card-color: #2f4f4f;
}

body,
html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

* {
  text-decoration: none;
  list-style-type: none;
}

.wrapper {
  background-color: var(--white);
}

.site-name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}

.topBar {
  background: #3a3a8d80;
  display: flex;
  justify-content: space-around;
}

.rapidContact {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--white);
}

.rapidContact span i {
  color: var(--white);
  margin-right: 5px;
}

.searchbar_content {
  padding: 10px 10px;
  border-radius: 10px;
}

.searchbar_btn {
  margin-left: -3.5px;
  padding: 10px 10px;
  border-radius: 25%;
  background-color: var(--white);
  border: none;
}

.searchContent {
  display: flex;
  justify-content: flex-end;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  height: 60px;
}

nav .links {
  padding: 10px 20px;
  font-size: 35px;
  text-transform: capitalize;
  font-family: "Courier New", Courier, monospace;
}

.links > a {
  color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
  font-size: larger;
}

#active {
  border-bottom: 3px solid var(--red);
}

.links a:hover {
  color: var(--red);
  border-bottom: 3px solid var(--red);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  gap: 20px;
}

.card {
  text-align: center;
  align-self: normal;
  border: 3px solid var(--card-color);
  border-radius: 5px;
  padding: 15px;
}

.card .circle img {
  border-radius: 50%;
  width: 230px;
  height: 230px;
  border: 5px solid var(--card-color);
}

.card h4 {
  color: var(--card-color);
}

.card > .stars {
  padding-bottom: 15px;
  color: var(--card-color);
}

.card p {
  max-width: 230px;
}

.card > span > .tooth_img {
  margin-bottom: -10px;
}

.card-btn {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  color: var(--card-color);
  border: 2px solid var(--card-color);
  margin-right: 5px;
}

.btn-read {
  font-size: 10px;
  padding: 5px;
  border-radius: 5px;
  color: var(--white);
  border: none;
  background-color: #3e9855b3;
}

.team-btn {
  margin-top: 10px;
  font-size: 15px;
  border-radius: 2rem;
  padding: 10px 30px;
  border: none;
  color: var(--white);
  background-color: #7a3e98b3;
}

.btn-schedule {
  font-size: 15px;
  padding: 10px 30px;
  border-radius: 2rem;
  color: var(--card-color);
  border: 2px solid var(--card-color);
  margin-left: 5px;
}

label {
  padding: 0 20px 10px 20px;
  font-size: 20px;
  color: var(--white);
}

#btn-submit {
  display: block;
  font-size: 25px;
  margin-top: 10px;
  border-radius: 5rem;
  padding: 1rem 5rem;
  border: none;
  color: var(--white);
  background-color: #3a3a8d80;
  margin-bottom: 20px;
}

.contact-input {
  padding: 1rem 6rem;
  border: none;
  border-radius: 5rem;
  font-size: 12px;
}

.contact-textarea {
  margin-top: 20px;
}

.footer-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  background-color: #000000cc;
}
ul,
h3 {
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h3 {
  display: flex;
  align-items: center;
}

#officer_link {
  display: none;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

#officer_link:target {
  display: block;
  background-color: #a267d6;
  border-radius: 5px;
  padding: 5px;
}

#lawyer_link {
  display: none;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

#lawyer_link:target {
  display: block;
  background-color: #a267d6;
  border-radius: 5px;
  padding: 5px;
}

#fireman_link {
  display: none;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

#fireman_link:target {
  display: block;
  background-color: #a267d6;
  border-radius: 5px;
  padding: 5px;
}

.quote-header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}

.quote-header .client_job {
  margin-left: 30px;
}

.nav-item img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 4px solid var(--card-color);
}

.quote-slide {
  max-width: 250px;
}

.testimonials {
  padding: 10px 20px;
  margin-bottom: 10px;
}

.social-media ul {
  display: inline-flex;
}

.social-media i {
  font-size: 30px;
  color: var(--white);
}

.text_box {
  position: absolute;
  top: 400px;
  left: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #074aae;
  font-family: "Rubik", sans-serif;
  font-size: medium;
  transition: 0.5s;
}

.text_box:hover {
  -webkit-text-stroke: 1.5px #074aae;
  transform: scale(1.2);
  color: transparent;
}

#randomDiv {
  margin-top: 25px;
}

#hide {
  display: none;
}
#hide:checked ~ #randomDiv {
  display: none;
}

#btn-cookies {
  font-size: 15px;
  border-radius: 2rem;
  border: none;
  background-color: #3a3a8d80;
  max-width: 100px;
  padding: 0.5rem;
}

/* contact page */
.contactBox h4 {
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.inputContainer input {
  padding: 0 20px 10px 20px;
  font-size: 20px;
  border-radius: 20px;
}

.inputContainer textarea {
  padding: 0 20px;
  font-size: 20px;
  border-radius: 20px;
}

.contactBox .title-contact-pg {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.contactBody {
  position: relative;
  display: grid;
  grid-template-areas:
    "info form"
    "map form";
  grid-gap: 20px;
}

.contact {
  padding: 40px;
  background: #2f4f4f;
}

.form {
  grid-area: form;
}

.info {
  grid-area: info;
}

.map {
  grid-area: map;
}

.transport {
  position: relative;
  display: grid;
  grid-template-areas:
    "bus parking"
    "train parking";
  grid-gap: 80px;
  padding: 20px;
}

.bus {
  grid-area: bus;
}

.parking {
  grid-area: parking;
}

.train {
  grid-area: train;
}

.interest {
  grid-area: interest;
}

.transport_icons {
  min-width: 35px;
  height: 35px;
  color: var(--white);
  border-radius: 25%;
  background: #ed2406;
  font-size: 35px;
  display: flex;
  justify-content: center;
}

.transport_title {
  padding: 1rem;
  font-size: 20px;
}

.contact h3 {
  color: var(--white);
  font-size: small;
}

.formContainer {
  position: relative;
  width: 100%;
}

.row_left_right {
  display: flex;
  gap: 20px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}

.formContainer .row-below .inputContainer {
  width: 100%;
}

.inputContainer > #btn-submit {
  max-width: 100px;
  cursor: pointer;
}

label.important::after {
  content: " * - field is required";
  color: var(--red);
  font-weight: bold;
}

label.optional::after {
  content: " * (Optional)";
  font-weight: bold;
  color: #000;
}

*:required {
  background: #ffd700;
}

.checkBigBox {
  display: block;
  max-width: 800px;
}

#checkbox {
  margin-right: -20px;
}

.info .infoContainer div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.services_Info .icon {
  min-width: 35px;
  height: 35px;
  color: var(--white);
  border-radius: 50%;
  background: #43be93;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.text_Info a {
  color: var(--white);
  font-size: 20px;
  text-decoration: none;
}
.text_Info p {
  color: var(--white);
  font-size: 20px;
}

.map {
  padding: 0;
  background-color: var(--white);
}

.map iframe {
  width: 100%;
  height: auto;
}

#btn-submit-contact {
  font-size: 25px;
  margin-top: 10px;
  border-radius: 5rem;
  border: none;
  color: var(--white);
  background-color: #456ede80;
  max-width: 100px;
  padding: 1rem;
}

/* gallery page */

.gallery_item > img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.gallery_item_icon {
  color: #2f4f4f;
}

.gallery_item {
  position: relative;
}

.btn-click-scale {
  background: transparent;
  border: none;
}

.btn-click-scale:focus {
  transform: scale(1.3);
  transition: 200ms ease-in;
  z-index: 4;
}

.gallery_item::before {
  content: "click to zoom-out";
  top: 35%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.gallery_item:target + .gallery_item_icon {
  transform: translate(-50%, -50%) scale(1);
}

.gallery_item:hover {
  opacity: 1;
  animation: move-down 1s linear;
}

@keyframes move-down {
  0% {
    bottom: 0%;
  }
  50% {
    bottom: 30%;
  }
  100% {
    bottom: 50%;
  }
}

.gallery_item .gallery_item_icon {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.gallery_wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 5px;
}

/* slider */

.gallery_slider {
  width: 800px;
  height: 534px;
  background: url(../images/pexels-pavel-danilyuk-6809663.jpg);
  margin: 10px auto;
  animation: img-slide 20s infinite;
}
@keyframes img-slide {
  25% {
    background: url(../images/pexels-max-vakhtbovych-6899543.jpg);
    height: 534px;
  }
  50% {
    background: url(../images/pexels-karolina-grabowska-6627715.jpg);
    height: 534px;
  }
  75% {
    background: url(../images/pexels-anna-shvets-3845810.jpg);
    height: 534px;
  }
  100% {
    background: url(../images/pexels-pavel-danilyuk-6809663.jpg);
  }
}

@media (min-aspect-ratio: 16/9) {
  .video-presentation {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .video-presentation {
    width: 100%;
    height: auto;
  }
}

@media (width < 321px) {
  .btn-schedule {
    padding: 5px 10px;
  }

  .contact-input {
    padding: 10px 20px;
  }

  .contact-box form {
    padding: 0 40px 0 60px;
  }

  .inputContainer textarea {
    width: 230px;
  }

  #terms_agreement::after {
    content: "\a";
    white-space: pre;
  }
}

@media (width < 600px) {
  .cards {
    display: flex;
    flex-direction: column;
  }

  .footer-list {
    display: flex;
    flex-direction: column;
    gap: unset;
  }

  nav .links {
    display: grid;
    font-size: 15px;
  }

  .topBar {
    display: none;
  }

  .text_box {
    position: absolute;
    top: 90px;
    left: 0;
    font-size: small;
    color: #074aae;
  }

  .contact-form {
    display: block;
  }

  .contactBody {
    display: grid;
    grid-template-areas:
      "info"
      "map"
      "form";
  }

  .gallery_item::before {
    content: "click to zoom-in";
  }

  .btn-click-scale:focus {
    transform: scale(0.9);
    transition: 200ms ease-in;
  }

  .gallery_item {
    opacity: 1;
    animation: left 3s linear;
  }

  @keyframes left {
    0% {
      left: 100%;
    }
    60% {
      left: 30%;
    }
    100% {
      left: 0;
    }
  }

  .contact-box form {
    padding: 0 30px;
  }

  .contact-input {
    margin-bottom: 15px;
  }

  .contact-textarea {
    margin-top: 5px;
  }

  .quote-header ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
  }

  .client_job {
    margin-left: 25px;
  }

  .testimonials {
    margin-top: -30px;
    margin-left: 10px;
  }

  .contact-info-title {
    display: inline-block;
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .row_left_right {
    display: inline-block;
  }

  .important {
    min-width: 290px;
  }

  .transport_title {
    display: block;
  }
}

@media (min-width: 426px) and (max-width: 769px) {
  .cards {
    display: grid;
    grid-template-areas:
      "card card"
      "card card";
  }
  .text_box {
    top: 200px;
    left: 40px;
  }

  .footer-list {
    gap: 10px;
  }

  .social-media .bx {
    font-size: 20px;
    margin-left: -15px;
  }

  .contactBody {
    display: grid;
    grid-template-areas:
      "info"
      "map"
      "form";
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 769px) and (max-width: 1025px) {
  .social-media .bx {
    font-size: 20px;
    margin-left: -15px;
  }

  .text_box {
    top: 300px;
    left: 40px;
  }
  .contactBody {
    display: grid;
    grid-template-areas:
      "info"
      "map"
      "form";
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
