@import url("https://fonts.googleapis.com/css2?family=Explora&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(to right, #000000, #130f40, #000000);
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 1rem 2rem;
}
.career {
  color: white;
  text-align: center;
  margin-block: 1.5rem;
  font-family: "Explora", sans-serif;
  font-size: 1.5rem;
}

.title {
  color: white;
  font-size: 2rem;
  margin-block: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 2rem;
}
.slideshow-first {
  animation: slideshow-second 9s infinite;
}
.slideshow-second {
  animation: slideshow1 9s infinite;
}

@keyframes slideshow-second {
  0% {
    content: url("incapere1.png");
    width: 70%;
  }
  50% {
    content: url("incapere3.png");
    width: 70%;
  }
  100% {
    content: url("incapere4.png");
    width: 70%;
  }
}
@keyframes slideshow1 {
  0% {
    content: url("incapere5.png");
    width: 70%;
  }
  33% {
    content: url("incapere6.png");
    width: 70%;
  }
  66% {
    content: url("incapere8.png");
    width: 70%;
  }
  100% {
    content: url("incapere7.png");
    width: 70%;
  }
}
