:root {
    font-size: 16px;
}
body {
    margin: 0;
    padding: 0;
}
.wrapper {
    --margin: 5rem;

    min-height: calc(100vh - 2 * var(--margin));
    width: 95vw;
    margin-inline: auto;
    background-color:  #f7f7f7;
    color:  #11316c;
    box-shadow: 0.7rem 0.5rem 1rem 0.2rem rgba(77, 78, 78, 0.5);
    font-family: Fira Sans,-apple-system,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1rem;
}
nav {
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    box-sizing: border-box;
}
.menu-item {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0;
    color: white;
    border-block-end: 1px solid white;
}
.menu-item:hover {
    font-size: 1.5rem;
    color: red;
    border-block-end: 1px solid white;
}
header {
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-image: url("https://content.eturia.ro/images/location/ee19c936-2285-4c73-9122-d08c8db28104/c85d60aa3301c6941b21f93db25b7025/1920x1080.webp");
}
header h1 {
    margin-inline: auto;
    margin-block-start: 15%;
    font-size: 2.6rem;
    font-weight: bold;
    color:rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    font-family: "Playfair Display",Georgia,serif;
    transition: transform 3s;
}
header h1:hover {
    transform: scale(130%);
}
header h2 {
    margin-inline: auto;
    margin-block-start: 0;
    font-size: 2.4rem;
    font-weight: bold;
    color:rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: "Playfair Display",Georgia,serif;
    transition: transform 3s;
}
header h2:hover{
    transform: translateY(-1rem);
}
main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
main h1 {
    justify-content: center;
    align-items: center;
}
main img {
    width: 80%;
    height: auto;
    border-radius: 1rem;
    margin-inline: auto;
    padding: 1rem;
    box-shadow: 0.7rem 0.5rem 1rem 0.2rem rgba(77, 78, 78, 0.5);
    margin-block-end: 1rem;
}
main p {
    margin-block-end: 1rem;
}
#ziua {
    font-weight: bold;
    font-size: 1.5rem;
}
footer {
    height: 3rem;
    width: auto;
    background-color: rgb(191, 188, 188);
    padding: 1rem;
    margin-block-start: 2rem;
}
@media (min-width: 600px) {
    header h1 {
        font-size: 4rem;
    }
@media (min-width: 800px) {
    .wrapper {
        width: 70vw;
    }
    header h1 {
        margin-block-start: 10%;
    }
}
}