* {
    margin: 0;
}

.info {
    display: flex;
    flex-direction: row;
}

.icon {
    width: 27px;
    height: 26px;
    margin: 3px 15px 5px 5px;
}


.icon1 {
    width: 20px;
    height: 26px;
    margin: 3px 15px 5px 5px;
}

.section1, .section2, .section3 {
    display: flex;
    flex-direction: row;
 
}

.container, .container2, .container3 {
    margin-inline: auto;
}

.border {
    border-right: 1px solid rgb(231, 231, 231);
    margin-left: 14rem;
}

.border2 {
    border-bottom: 1px solid rgb(231, 231, 231);
}



p {
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navigare {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 8%;
    margin-inline-start: 7rem;
    display: inline-block;
    text-align: center;
    height: 80px;
}

.nav {
    position: absolute;
    right: 0;
    margin-inline-end: 11rem;
    margin-block-start: 1.8rem;
}

.menu, .menu-active {
    color: rgb(99, 99, 99);
    text-decoration: none;
    margin-left: 2rem;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    font-family:"Roboto",sans-serif;
    letter-spacing: 0.5px;
}

.banner {
    width: 100%;
    height: 500px;
}

.text-banner2 {
    position: absolute;
    top: 20rem;
    margin-inline-start: 4rem;
    color: white;
    font-size: 35px;
    text-transform: uppercase;
    font-family:"Roboto",sans-serif;
    letter-spacing: 1px;
}


.text-banner1 {
    position: absolute;
    top: 13rem;
    margin-inline-start: 16rem;
    color: orange;
    font-size: 55px;
    text-transform: uppercase;
    font-family:"Roboto",sans-serif;
}

.active {
    color: white;
    background-color: orange;
    padding: 10px 15px;
    border-radius: 25px;
}

.menu:hover {
   color: orange;
}

.active:hover {
    color: rgb(255, 255, 255);
}

.main {
    display: flex;
    flex-direction: row;
    margin-block-start: 5rem;
}

.img1 {
    height: 55vh;
    width: 30vw;
    margin-inline-start: 6rem;
}

.main-section {
    margin-inline-start: 5rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-left: 5px solid rgb(174, 192, 117);
    
}

.despre-noi {
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(174, 192, 117);
    font-weight: 800;
    font-family:"Roboto",sans-serif;
    margin-inline-start: 4rem;
    
    
}

.text-animalute {
    font-size: 35px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-inline-start: 4rem;
}



.main-column {
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.text {
    color: white;
    margin-block-start: 25rem;
}

.imagini-styling {
    display: flex;
    flex-direction: row;
    margin-inline-start: 6rem;
    gap: 14px;
}

.styling1 {
    width: 250px;
    height: 200px;
}

.styling2 {
    width: 250px;
    height: 200px;
}


.styling3 {
    width: 250px;
    height: 200px;
}

.footer {
    margin-block-start: 6rem;
    background-color: rgb(90, 86, 86);
    height: 150px;
    display: flex;
    flex-direction: row;
}

.nav2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-inline-start: 55px;
    justify-content: center;
}

.menu-footer{
    color: white;
    text-transform: uppercase;
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

.menu-footer:hover{
    color: orange;
}

.info-footer {
    margin-inline-start: 16rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    color: white;
}

.footer-text {
    color: white;
    text-transform: uppercase;
    text-decoration:none;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
}


.maps {
    margin-block-start: 15px;
    margin-inline-start: 11rem;
}

@media (max-width:576px) {

    .icon1, .icon{
        width: 15px;
        height: 15px;
    }

    .border{
        margin-inline-start: 30px;
    }

    .mail {
        margin-inline-end: 10rem;
    }
 

   .logo {
    width: 90px;
    height: 50px;
    margin-inline-start: 6rem;
   }
   .nav {
    margin-block-start: 4rem;
    margin-inline-end: 19rem;
   }

   .menu {
    margin-left: 7px;
   }

   .banner {
    margin-block-start: 4rem;
    width: 60vw;
    height: 20vh;
   }

   .text-banner1 {
    font-size: 25px;
    margin-inline-start: 1rem;
    margin-block-start: 1rem;
   }

   .text-banner2 {
    font-size: 13px;
    margin-block-start: 1rem;
    margin-inline-start: 10px;
    font-weight: 900;
   }

   .img1 {
    height: 200px;
    width: 300px;
    margin-inline-start: 0.1px;
   }

   .main {
    display: flex;
    flex-direction: column;
    margin-inline-start: 1px;
    gap: 15px;
    margin-block-start: 25px;
   }

   .main-section {
    margin-inline-start: 1px;
   }

   .despre-noi {
    margin-inline-start: 15px;
   }
   .text-animalute {
    font-size: 15px;
    margin-inline-start: 15px;
    inline-size: 15rem; 
   }

   .imagini-styling {
    display: flex;
    flex-direction: column;
    margin-inline-start: 1rem;
   }

 .nav2 {
    margin-inline-start: 15px;
    font-size: 10px;
    font-weight: bold;
 }

  .info-footer {
    margin-inline-start: 4rem;
  }

  .footer-text {
    font-size: 10px;
    font-weight: bold;
  }

}


/* STYLE servicii */

.active2 {
    color: white;
    background-color: orange;
    padding: 10px 15px;
    border-radius: 25px;
}

.active2:hover {
    color: rgb(255, 255, 255);
}

.text-servicii {
    color: rgb(111, 111, 111);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-block-start: 4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3px;
    font-size: 40px;
}

.servicii {
    border-bottom: 4px solid rgb(111, 111, 111);
    width: 25rem;
    margin-inline-start: 36rem;
}

.tuns {
    height: 300px;
    width: 500px;
    margin-block-start: 5rem;
    margin-inline-start: 5rem;
    grid-area: img;
    border: 5px solid rgb(206, 255, 163);
}

.sectiune1 {
    height: 65vh;
    margin-block-start: 4rem;
    background-color: rgb(252, 255, 246);
    display: grid;
    grid-template-areas: 
    'img .'
    'img h1'
    'img .';
    border-top: 3px solid rgb(206, 255, 163);
}

.h1 {
    grid-area: h1;
    text-transform: uppercase;
    color: rgb(99, 171, 52);
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
}


.sectiune2 {
    height: 65vh;
    background-color: rgb(255, 238, 229);
    display: grid;
    grid-template-areas: 
    '. img'
    'curatare img'
    '. img';
    border-top: 3px solid orange;
}

.spalat {
    height: 300px;
    width: 500px;
    grid-area: img;
    margin-block-start: 5rem;
    margin-inline-start: 8rem;
    border: 5px solid orange;
   
}

.curatare {
    grid-area: curatare;
    text-transform: uppercase;
    color: rgb(190, 104, 42);
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    margin-inline-start: 15rem ;
    font-size: 40px;
}

/* pagina de contact */


.contact {
    text-align: center;
    margin-block-start: 5rem;

}

.navigare {
    border-bottom: 1px solid rgb(233, 233, 233);
}

.map-contact{
    margin-block-start: 3rem;
    margin-inline-start: 10rem;
}

.contact-block {
    display: flex;
    flex-direction: row;
}

.info-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-block-start: 15rem;
    margin-inline-start: 15rem;
    font-weight: bold;
}

.info-text {
    font-size: 20px;
}