:root {
    font-size: 16px;
}
body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Open Sans",Arial,sans-serif;
}
header {
    background-image: url("https://content.eturia.ro/images/location/ee19c936-2285-4c73-9122-d08c8db28104/c85d60aa3301c6941b21f93db25b7025/1920x1080.webp");
    height: 100vh;
    display: flex;
    flex-direction: column;
}
nav {
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 0;
    border-block-end: 1px solid white;
}
.menu-item {
    text-decoration: none;
    color: rgb(247, 243, 243);
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}
header h1 {
    margin: auto;
    font-size: 6rem;
    font-weight: bold;
    color:rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    font-family: "Playfair Display",Georgia,serif;
}
header h2 {
    margin: auto;
    font-size: 3rem;
    font-weight: bold;
    color:rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: "Playfair Display",Georgia,serif;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 1rem;
}
h1 {
    display: block;
    margin: 1rem 1rem;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 1rem;
    color: rgb(137, 136, 136);
}
p {
    display: block;
    margin: 1rem 1rem;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 1rem;
    color: rgb(137, 136, 136);
}
article {
    background-color: white;
    margin-inline: auto;
    box-shadow: 0.7rem 0.5rem 1rem 0.2rem rgba(77, 78, 78, 0.5);
    box-sizing: border-box;
}
.containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-item {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 40vh;
    background-color: bisque;
    border: none;
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 1rem;
}
.content-item img {
    height: 85%;
    border-radius: 1rem;
}
footer {
    height: 10rem;
    width: auto;
    background-color: grey;

}

@media (min-width: 712px) {
    nav {
        justify-content: flex-end;
        border-block-end: none;
    }
    main {
        display: grid;
        grid-template-areas: 
         "ARTICOL" 
        "CONTAINERE";
    }
    .content-item {
        grid-area: CONTENT-ITEM;
        width: 27vw;
    }
    .menu-item {
        font-size: 1rem;
    }
    article {
        width: 90vw;
        padding: 1rem;
        border-radius: 1rem;
        margin-block-start: 1rem;
        grid-area: ARTICOL;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .containers {
        grid-area: CONTAINERE;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    h1 {
        grid-area: text H1;
    }
    p {
        grid-area: paragraph;
    }
}