:root {
    font-size: 16px;
}
body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Fira Sans,-apple-system,Helvetica Neue,Helvetica,Arial,sans-serif;
}
header {
    background-image: url("../poze_index/ghetari.jpg");
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
}
header h1 {
    margin: auto;
    font-size: 2.7rem;
    font-weight: bold;
    color:rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    font-family: "Playfair Display",Georgia,serif;
    margin-block-end: 0;
    transition: transform 3s;
}
header h1:hover {
    transform: scale(130%);
}
header h2 {
    margin: auto;
    font-size: 3rem;
    font-weight: bold;
    color:rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: "Playfair Display",Georgia,serif;
    margin-block-start: 0;
    transition: transform 3s;
}
header h2:hover{
    transform: translateY(-1rem);
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 1rem;
}
h1 {
    display: block;
    text-align: center;
    margin: 2rem 1rem;
    font-size: 1rem;
    color:  #11316c;
}
p {
    display: block;
    margin: 1rem 1rem;
    font-size: 1rem;
    color:  #11316c;
}
.descriere {
    background-color: white;
    margin-inline: auto;
    box-shadow: 0.7rem 0.5rem 1rem 0.2rem rgba(77, 78, 78, 0.5);
    box-sizing: border-box;
    transition: transform 2s;
}
.content-item:hover, .descriere:hover {
    transform: scale(101%);
    box-shadow: 0.7rem 0.5rem 1rem 0.2rem rgba(13, 213, 213, 0.5);
}
.containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-item {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 40vh;
    background-color:white;
    border: 1px solid grey;
    box-shadow: 0.7rem 0.5rem 1rem 0.2rem rgba(77, 78, 78, 0.5);
    border-radius: 1rem;
    padding: 1.5rem;
    margin: 1rem;
}
.content-item img {
    height: auto;
    width: auto;
    border-radius: 1rem;
    transition: transform 3s;
    padding-inline: 0.5rem;
}
.content-item img:hover {
    transform: scale(105%);
}
.content-item p:hover {
    color: black;
    font-weight: bold;
}
@media (min-width: 500px) {
    header h1 {
        font-size: 4rem;
    }
}
@media (min-width: 600px) {
    header h1 {
        font-size: 5rem;
    }
    .content-item {
        height: 60vh;
    }
    header {
        background-image: url("../poze_index/islanda_house.jpg");
    }
    nav {
        background-color: rgba(67, 66, 66, 0.3);
    }
}
@media (min-width: 712px) {
    header {
        background-image: url('../poze_index/oras.jpg');
        background-size: cover;
    }
    main {
        display: grid;
        grid-template-areas: 
         "ARTICOL" 
        "CONTAINERE";
    }
    .content-item {
        grid-area: CONTENT-ITEM;
        width: 37vw;
        height: 40vh;
    }
    .menu-item {
        font-size: 1rem;
    }
    .descriere {
        width: 90vw;
        padding: 1rem;
        border-radius: 1rem;
        margin-block-start: 1rem;
        grid-area: ARTICOL;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .containers {
        grid-area: CONTAINERE;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    h1 {
        grid-area: text H1;
    }
    p {
        grid-area: paragraph;
    }
    header h1 {
        font-size: 6rem;
    }
}
@media (min-width: 900px) {
    header h1 {
        font-size: 7rem;
    }
    .content-item {
        height: 40vh;
    }
}

